body {
    background-image: url('https://github.com/alionarotaru/Biserica-ortodoxa-Verejeni-Ocnita/blob/main/0-02-05-0562749ec86c59b6ff5d5d71e7844474dcc78131f60c5e745228073b72d7d2a3_385b1850f955520c.jpg?raw=true');
    background-size: cover; /* Imaginea va acoperi întregul fundal /
    background-position: center; / Centrează imaginea /
    color: white; / Textul va fi alb pentru a fi vizibil pe fundal */
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3em;
}
.content {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundal semi-transparent pentru text */
    border-radius: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}
